# Ignore node_modules in the root directory
node_modules/

# Ignore .env files in the root directory
*.env

# Ignore node_modules and .env files in the client folder
client/node_modules/
client/*.env

# Ignore node_modules and .env files in the server folder
server/node_modules/
server/*.env
